body, html {
  background: #f8f8f8;
  font-family: 'Menlo', monospace;
  width: 17rem;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  color: #23a5b6;
  padding-left: .5rem;
  border-bottom: 1px solid #d9e5e6;
}

.version {
  color: #0a5e69;
  padding-left: .5rem;
}

.modal-body {
  padding: .8rem;
  line-height: 1.6;
  border-bottom: 1px solid #d9e5e6;
}

.cta_links {
  padding: .8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cta_links a {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  text-decoration: none;
  color: #23a5b6;
  transition: color .2s ease-in-out;
}

.cta_links a:hover {
  color: #0a5e69;
}

.cta_links a i {
  font-size: 1.6rem;
}